/*!****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/[locale]/components/ProductListing/productListing.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************/
.productListing_root__mtnmG {
  width: 90%;
  margin: 0 auto;
}

.productListing_productContiner__WpTO2 {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
}

